body, html {
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    /*overflow-y: hidden; !important;*/
   /* overflow-x: hidden; !important;*/
    /*scroll-behavior: smooth;*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

.img-fluid-logo {
  max-width: 30%; 
  height: auto;
}


/*MAPS BACKGROUND-----------------------------------------------------------------------------------------*/

.prontera-bg {
    /*min-height: 1993px;*/
    /*width: inherit;*/
    background: url(../img/backgrounds/prontera_bg_lg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.payon-bg {
    /*min-height: 1993px;*/
    /*width: inherit;*/
    background: url(../img/backgrounds/payon_bg_lg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.morroc-bg {
    /*min-height: 1993px;*/
    /*width: inherit;*/
    background: url(../img/backgrounds/morroc_bg_lg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.geffen-bg {
    /*min-height: 1993px;*/
    /*width: inherit;*/
    background: url(../img/backgrounds/geffen_bg_lg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}


.prontera-welcome-modal-bg {
    /*min-height: 1993px;*/
    /*width: inherit;*/
    height: 100vh;
    background-image: url(../img/backgrounds/modal_prontera_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.payon-welcome-modal-bg {
    /*min-height: 1993px;*/
    /*width: inherit;*/
    height: 100vh;
    background-image: url(../img/backgrounds/modal_payon_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}

.morroc-welcome-modal-bg {
    /*min-height: 1993px;*/
    /*width: inherit;*/
    height: 100vh;
    background-image: url(../img/backgrounds/modal_morroc_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}

/*PRONTERA CUSTOM LAYOUT-----------------------------------------------------------------------------------------*/


.prontera-effect-smoke-row-2-col-1 {
    transform: translate(-60%, 10%);
}

.prontera-effect-smoke-row-2-col-6 {
    transform: translate(20%, -60%);
}

.prontera-effect-smoke-row-3-col-6 {
    -webkit-transform: scaleX(-1) translate(40%, 10%);
    -moz-transform: scaleX(-1) translate(40%, 10%);
    -ms-transform: scaleX(-1) translate(40%, 10%);
    -o-atransform: scaleX(-1) translate(40%, 10%);
    transform: scaleX(-1) translate(40%, 10%);
    
    width: 38px;
    height: 118px;
    background: url(../img/effects/effect_smoke.png);
    -webkit-animation: play 3.5s steps(8) infinite;
    -moz-animation: play 3.5s steps(8) infinite;
    -ms-animation: play 3.5s steps(8) infinite;
    -o-animation: play 3.5s steps(8) infinite;
    animation: play 3.5s steps(8) infinite;
    animation-delay: 1.5s;
}

.prontera-effect-smoke-row-4-col-1 {
    transform: translate(-5%, -60%);
}

/*CUSTOM COMMANDS-----------------------------------------------------------------------------------------*/

.flipped {
    -webkit-transform: scaleX(-1); 
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}

/*----------------------------------------------------------*/


.delay-animate-3 {
    animation-delay: 2s;
   /* animation-delay: 0.3s;*/
}

.delay-animate-6 {
    animation-delay: 4s;
   /* animation-delay: 0.6s;*/
}

.delay-animate-9 {
    animation-delay: 6s;
   /* animation-delay: 0.9s;*/
}

/*----------------------------------------------------------*/

.push-top-50 {
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-atransform: translateY(-50px);
    transform: translateY(-50px);
}

.push-top-100 {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-atransform: translateY(-100px);
    transform: translateY(-100px);
}

.push-top-150 {
    -webkit-transform: translateY(-150px);
    -moz-transform: translateY(-150px);
    -ms-transform: translateY(-150px);
    -o-atransform: translateY(-150px);
    transform: translateY(-150px);
}

.push-top-200 {
    -webkit-transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    -o-atransform: translateY(-200px);
    transform: translateY(-200px);
}

.push-top-250 {
    -webkit-transform: translateY(-250px);
    -moz-transform: translateY(-250px);
    -ms-transform: translateY(-250px);
    -o-atransform: translateY(-250px);
    transform: translateY(-250px);
}

.push-top-300 {
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-atransform: translateY(-300px);
    transform: translateY(-300px);
}

.push-top-400 {
    -webkit-transform: translateY(-400px);
    -moz-transform: translateY(-400px);
    -ms-transform: translateY(-400px);
    -o-atransform: translateY(-400px);
    transform: translateY(-400px);
}

/*----------------------------------------------------------*/

.push-right-50 {
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -ms-transform: translateX(50px);
    -o-atransform: translateX(50px);
    transform: translateX(50px);
}


.push-right-100 {
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-atransform: translateX(100px);
    transform: translateX(100px);
}

.push-right-150 {
    -webkit-transform: translateX(150px);
    -moz-transform: translateX(150px);
    -ms-transform: translateX(150px);
    -o-atransform: translateX(150px);
    transform: translateX(150px);
}


.push-right-200 {
    -webkit-transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-atransform: translateX(200px);
    transform: translateX(200px);
}

.push-right-250 {
    -webkit-transform: translateX(250px);
    -moz-transform: translateX(250px);
    -ms-transform: translateX(250px);
    -o-atransform: translateX(250px);
    transform: translateX(250px);
}

.push-right-300 {
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -ms-transform: translateX(300px);
    -o-atransform: translateX(300px);
    transform: translateX(300px);
}

/*----------------------------------------------------------*/

.push-bottom-50 {
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-atransform: translateY(50px);
    transform: translateY(50px);
}


.push-bottom-100 {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-atransform: translateY(100px);
    transform: translateY(100px);
}

.push-bottom-150 {
    -webkit-transform: translateY(150px);
    -moz-transform: translateY(150px);
    -ms-transform: translateY(150px);
    -o-atransform: translateY(150px);
    transform: translateY(150px);
}


.push-bottom-200 {
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-atransform: translateY(200px);
    transform: translateY(200px);
}

.push-bottom-250 {
    -webkit-transform: translateY(250px);
    -moz-transform: translateY(250px);
    -ms-transform: translateY(250px);
    -o-atransform: translateY(250px);
    transform: translateY(250px);
}

.push-bottom-300 {
    -webkit-transform: translateY(300px);
    -moz-transform: translateY(300px);
    -ms-transform: translateY(300px);
    -o-atransform: translateY(300px);
    transform: translateY(300px);
}

/*----------------------------------------------------------*/

.push-left-50 {
    -webkit-transform: translateX(-50px);
    -moz-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -o-atransform: translateX(-50px);
    transform: translateX(-50px);
}


.push-left-100 {
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-atransform: translateX(-100px);
    transform: translateX(-100px);
}

.push-left-150 {
    -webkit-transform: translateX(-150px);
    -moz-transform: translateX(-150px);
    -ms-transform: translateX(-150px);
    -o-atransform: translateX(-150px);
    transform: translateX(-150px);
}


.push-left-200 {
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-atransform: translateX(-200px);
    transform: translateX(-200px);
}

.push-left-250 {
    -webkit-transform: translateX(-250px);
    -moz-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    -o-atransform: translateX(-250px);
    transform: translateX(-250px);
}

.push-left-300 {
    -webkit-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    -o-atransform: translateX(-300px);
    transform: translateX(-300px);
}




/*OBJECTS-----------------------------------------------------------------------------------------*/

/*PRONTERA------------------------------*/

.prontera-gate-n {
    cursor: not-allowed; 
    background: url(../img/structures/prontera_gate_n_lg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}

.prontera-gate-s {
    cursor: not-allowed; 
    background: url(../img/structures/prontera_gate_s_lg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}

.prontera-structure-1 {
    height: 400px;
    background-image: url(../img/structures/prontera_structure_1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.prontera-structure-2 {
    height: 200px;
    background-image: url(../img/structures/prontera_structure_2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.prontera-structure-3 {
    height: 300px;
    background-image: url(../img/structures/prontera_structure_3.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.prontera-structure-4 {
    height: 280px;
    background-image: url(../img/structures/prontera_structure_4.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.prontera-guard-post {
    height: 150px;
    background-image: url(../img/structures/prontera_guard_post.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.prontera-flag-post {
    height: 400px;
    background-image: url(../img/structures/prontera_flag_post.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.prontera-stand-1 {
    height: 170px;
    background-image: url(../img/structures/prontera_stand_1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.prontera-stand-2 {
    height: 170px;
    background-image: url(../img/structures/prontera_stand_2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.prontera-stand-3 {
    height: 170px;
    background-image: url(../img/structures/prontera_stand_3.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.prontera-stand-4 {
    height: 170px;
    background-image: url(../img/structures/prontera_stand_4.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.prontera-stand-5 {
    height: 170px;
    background-image: url(../img/structures/prontera_stand_5.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.prontera-stand-6 {
    height: 100px;
    background-image: url(../img/structures/prontera_stand_6.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.prontera-object-1 {
    height: 80px;
    background-image: url(../img/structures/prontera_object_1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.prontera-object-2 {
    height: 80px;
    background-image: url(../img/structures/prontera_object_2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/*PAYON------------------------------*/


.payon-gate-n {
    cursor: not-allowed; 
    background: url(../img/structures/payon_gate_n_lg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}

.payon-gate-s {
    cursor: not-allowed; 
    background: url(../img/structures/payon_gate_s_lg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    
}

.payon-guard-post {
    height: 150px;
    background-image: url(../img/structures/payon_guard_post.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.payon-flag-post {
    height: 400px;
    background-image: url(../img/structures/payon_flag_post.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.payon-structure-1 {
    height: 400px;
    background-image: url(../img/structures/payon_structure_1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.payon-structure-2 {
    height: 400px;
    background-image: url(../img/structures/payon_structure_2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.payon-structure-3 {
    height: 400px;
    background-image: url(../img/structures/payon_structure_3.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.payon-structure-4 {
    height: 400px;
    background-image: url(../img/structures/payon_structure_4.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/*PAYON------------------------------*/


.morroc-gate-n {
    cursor: not-allowed; 
    background: url(../img/structures/morroc_gate_n_lg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}

.morroc-gate-s {
    cursor: not-allowed; 
    background: url(../img/structures/morroc_gate_s_lg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    
}

.morroc-guard-post {
    height: 150px;
    background-image: url(../img/structures/morroc_guard_post.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.morroc-flag-post {
    height: 400px;
    background-image: url(../img/structures/morroc_flag_post.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.morroc-structure-1 {
    height: 400px;
    background-image: url(../img/structures/morroc_structure_1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.morroc-structure-2 {
    height: 400px;
    background-image: url(../img/structures/morroc_structure_2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.morroc-structure-3 {
    height: 400px;
    background-image: url(../img/structures/morroc_structure_3.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.morroc-structure-4 {
    height: 400px;
    background-image: url(../img/structures/morroc_structure_4.png);
    background-size: contain;
    background-repeat: no-repeat;
}


/*NPCs----------@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

.prontera-kafra-dialogue {
    background: url(../img/effects/prontera_kafra_dialogue.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 90vh;
}

/*.prontera-guard-y {
    width: 62px;
    height: 135px;
    background: url(../img/npc/prontera_guard_y.png);
    background-size: cover;
    background-repeat: no-repeat;
}*/


.prontera-guard-x {
    width: 62px;
    height: 145px;
    background: url(../img/npc/prontera_guard_x.png);
    background-size: cover;
    background-repeat: no-repeat;
}


.payon-guard-x {
    width: 62px;
    height: 150px;
    background: url(../img/npc/payon_guard_x.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.morroc-guard-x {
    width: 62px;
    height: 145px;
    background: url(../img/npc/morroc_guard_x.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/*NPCs-------ANIMATED--------------*/

/*NPCs-------ANIMATED-------CONTAINERS-------------------*/

/*NPCs-------ANIMATED-------CONTAINERS-------NORTH--------*/

.npc-move-animated-n-container-1{
    width: 62px;
    height: 118px;
    z-index: -1;
    -webkit-animation: moveYN 14s linear infinite;
    -moz-animation: moveYN 14s linear infinite;
    -ms-animation: moveYN 14s linear infinite;
    -o-animation: moveYN 14s linear infinite;
    animation: moveYN 14s linear infinite;
    animation-direction: reverse;
    animation-delay: 0.4s;
}

.npc-move-animated-n-container-2{
    width: 62px;
    height: 118px;
    z-index: -1;
    -webkit-animation: moveYN 15s linear infinite;
    -moz-animation: moveYN 15s linear infinite;
    -ms-animation: moveYN 15s linear infinite;
    -o-animation: moveYN 15s linear infinite;
    animation: moveYN 15s linear infinite;
    animation-direction: reverse;
    animation-delay: 1.3s;
}

.npc-move-animated-n-container-3{
    width: 62px;
    height: 118px;
    z-index: -1;
    -webkit-animation: moveYN 16s linear infinite;
    -moz-animation: moveYN 16s linear infinite;
    -ms-animation: moveYN 16s linear infinite;
    -o-animation: moveYN 16s linear infinite;
    animation: moveYN 16s linear infinite;
    animation-direction: reverse;
    animation-delay: 1.4s;
}

/*NPCs-------ANIMATED-------CONTAINERS-------EAST--------*/

.npc-move-animated-e-container-1{  
    width: 62px;
    height: 118px;
    -webkit-animation: moveXE 15s linear infinite;
    -moz-animation: moveXE 15s linear infinite;
    -ms-animation: moveXE 15s linear infinite;
    -o-animation: moveXE 15s linear infinite;
    animation: moveXE 15s linear infinite;
    animation-delay: 1.1s;
}

.npc-move-animated-e-container-2{  
    width: 62px;
    height: 118px;
    -webkit-animation: moveXE 16s linear infinite;
    -moz-animation: moveXE 16s linear infinite;
    -ms-animation: moveXE 16s linear infinite;
    -o-animation: moveXE 16s linear infinite;
    animation: moveXE 16s linear infinite;
    animation-delay: 1.6s;
}

.npc-move-animated-e-container-3{  
    width: 62px;
    height: 118px;
    -webkit-animation: moveXE 17s linear infinite;
    -moz-animation: moveXE 17s linear infinite;
    -ms-animation: moveXE 17s linear infinite;
    -o-animation: moveXE 17s linear infinite;
    animation: moveXE 17s linear infinite;
    animation-delay: 1.9s;
}

/*NPCs-------ANIMATED-------CONTAINERS-------SOUTH--------*/


.npc-move-animated-s-container-1{  
    width: 62px;
    height: 118px;
    -webkit-animation: moveYS 14s linear infinite;
    -moz-animation: moveYS 14s linear infinite;
    -ms-animation: moveYS 14s linear infinite;
    -o-animation: moveYS 14s linear infinite;
    animation: moveYS 14s linear infinite;
    animation-delay: 1.4s;
}

.npc-move-animated-s-container-2{  
    width: 62px;
    height: 118px;
    -webkit-animation: moveYS 15s linear infinite;
    -moz-animation: moveYS 15s linear infinite;
    -ms-animation: moveYS 15s linear infinite;
    -o-animation: moveYS 15s linear infinite;
    animation: moveYS 15s linear infinite;
    animation-delay: 1.5s;
}

.npc-move-animated-s-container-3{  
    width: 62px;
    height: 118px;
    -webkit-animation: moveYS 16s linear infinite;
    -moz-animation: moveYS 16s linear infinite;
    -ms-animation: moveYS 16s linear infinite;
    -o-animation: moveYS 16s linear infinite;
    animation: moveYS 16s linear infinite;
    animation-delay: 1.6s;
}

/*NPCs-------ANIMATED-------CONTAINERS-------WEST--------*/


.npc-move-animated-w-container-1{  
    width: 62px;
    height: 118px;
    -webkit-animation: moveXW 14s linear infinite;
    -moz-animation: moveXW 14s linear infinite;
    -ms-animation: moveXW 14s linear infinite;
    -o-animation: moveXW 14s linear infinite;
    animation: moveXW 14s linear infinite;
    animation-direction: reverse;
    animation-delay: 1.7s;
}

.npc-move-animated-w-container-2{  
    width: 62px;
    height: 118px;
    -webkit-animation: moveXW 15s linear infinite;
    -moz-animation: moveXW 15s linear infinite;
    -ms-animation: moveXW 15s linear infinite;
    -o-animation: moveXW 15s linear infinite;
    animation: moveXW 15s linear infinite;
    animation-direction: reverse;
    animation-delay: 1.8s;
}


.npc-move-animated-w-container-3{  
    width: 62px;
    height: 118px;
    -webkit-animation: moveXW 16s linear infinite;
    -moz-animation: moveXW 16s linear infinite;
    -ms-animation: moveXW 16s linear infinite;
    -o-animation: moveXW 16s linear infinite;
    animation: moveXW 16s linear infinite;
    animation-direction: reverse;
    animation-delay: 1.9s;
}

/*NPCs-------ANIMATED-------PLAY------------------------------------*/


.kafra-idle-animated {
    cursor: pointer; 
    width: 62px;
    height: 118px;
    background: url(../img/npc/prontera_kafra_idle_animated.png);
    -webkit-animation: play 1.5s steps(8) infinite;
    -moz-animation: play 1.5s steps(8) infinite;
    -ms-animation: play 1.5s steps(8) infinite;
    -o-animation: play 1.5s steps(8) infinite;
    animation: play 1.5s steps(8) infinite; 
    animation-delay: 5s;
}

.npc-kafra-move-animated-s {
    background: url(../img/npc/kafra_move_animated_s.png);
    width: 62px;
    height: 115px;
    -webkit-animation: play 1.5s steps(8) infinite;
    -moz-animation: play 1.5s steps(8) infinite;
    -ms-animation: play 1.5s steps(8) infinite;
    -o-animation: play 1.5s steps(8) infinite;
    animation: play 1.5s steps(8) infinite;
}

.npc-swordsman-move-animated-x {
    background: url(../img/npc/swordsman_move_animated_x.png);
    width: 62px;
    height: 115px;
    -webkit-animation: play 2s steps(8) infinite;
    -moz-animation: play 2s steps(8) infinite;
    -ms-animation: play 2s steps(8) infinite;
    -o-animation: play 2s steps(8) infinite;
    animation: play 2s steps(8) infinite;
    animation-delay: 3.3s;
}

.npc-swordswoman-move-animated-x {
    background: url(../img/npc/swordswoman_move_animated_x.png);
    width: 62px;
    height: 115px;
    -webkit-animation: play 2s steps(8) infinite;
    -moz-animation: play 2s steps(8) infinite;
    -ms-animation: play 2s steps(8) infinite;
    -o-animation: play 2s steps(8) infinite;
    animation: play 2s steps(8) infinite;
    animation-delay: 3.4s;
}

.npc-knight-move-animated-n {
    background: url(../img/npc/knight_move_animated_n.png);
    width: 62px;
    height: 119px;
    -webkit-animation: play 2s steps(8) infinite;
    -moz-animation: play 2s steps(8) infinite;
    -ms-animation: play 2s steps(8) infinite;
    -o-animation: play 2s steps(8) infinite;
    animation: play 2s steps(8) infinite;
    animation-delay: 0.4s;
}

.npc-knight-move-animated-s {
    background: url(../img/npc/knight_move_animated_s.png);
    width: 62px;
    height: 119px;
    -webkit-animation: play 2s steps(8) infinite;
    -moz-animation: play 2s steps(8) infinite;
    -ms-animation: play 2s steps(8) infinite;
    -o-animation: play 2s steps(8) infinite;
    animation: play 2s steps(8) infinite;
    animation-delay: 0.5s;
}

.npc-chicken {
    background: url(../img/npc/npc_chicken.png);
    width: 62px;
    height: 118px;
    -webkit-animation: play 4s steps(8) infinite;
    -moz-animation: play 4s steps(8) infinite;
    -ms-animation: play 4s steps(8) infinite;
    -o-animation: play 4s steps(8) infinite;
    animation: play 4s steps(8) infinite;
    animation-delay: 9.7s;
}


/*PCs-----------------------------------------------------------------------------------------*/
#player-container {   
    width: 62px;
    height: 118px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;  
}

.player-idle-stand-n {
    width: 62px;
    height: 118px;
    background: url(../img/pc/player_idle_stand_n.png);
}

.player-idle-stand-ne {
    width: 62px;
    height: 118px;
    background: url(../img/pc/player_idle_stand_ne.png);
}

.player-idle-stand-e {
    width: 62px;
    height: 118px;
    background: url(../img/pc/player_idle_stand_e.png);
}

.player-idle-stand-se {
    width: 62px;
    height: 118px;
    background: url(../img/pc/player_idle_stand_se.png);
}

.player-idle-stand-s {
    width: 62px;
    height: 118px;
    background: url(../img/pc/player_idle_stand_s.png);
}

.player-idle-stand-sw {
    width: 62px;
    height: 118px;
    background: url(../img/pc/player_idle_stand_sw.png);
}

.player-idle-stand-w {
    width: 62px;
    height: 118px;
    background: url(../img/pc/player_idle_stand_w.png);
}

.player-idle-stand-nw {
    width: 62px;
    height: 118px;
    background: url(../img/pc/player_idle_stand_nw.png);
}

.player-move-n {  
    width: 62px;
    height: 118px;
    background: url(../img/pc/player_move_n.png);
    -webkit-animation: play 0.5s steps(8) infinite;
    -moz-animation: play 0.5s steps(8) infinite;
    -ms-animation: play 0.5s steps(8) infinite;
    -o-animation: play 0.5s steps(8) infinite;
    animation: play 0.5s steps(8) infinite;
    animation-delay: 0.1s;
}

.player-move-s {  
    width: 62px;
    height: 118px;
    background: url(../img/pc/player_move_s.png);
    -webkit-animation: play 0.5s steps(8) infinite;
    -moz-animation: play 0.5s steps(8) infinite;
    -ms-animation: play 0.5s steps(8) infinite;
    -o-animation: play 0.5s steps(8) infinite;
    animation: play 0.5s steps(8) infinite;
    animation-delay: 0.1s;
}

/*EFFECTS-----------------------------------------------------------------------------------------*/

.effect-smoke {
    width: 62px;
    height: 118px;
    background: url(../img/effects/effect_smoke.png);
    -webkit-animation: play 2s steps(8) infinite;
    -moz-animation: play 2s steps(8) infinite;
    -ms-animation: play 2s steps(8) infinite;
    -o-animation: play 2s steps(8) infinite;
    animation: play 2s steps(8) infinite;
}

.effect-emoticon-container {
    width: 62px;
    height: 27px;
    text-align: center;
    -webkit-transform: translate(-20px);
    -moz-transform: translate(-20px);
    -ms-transform: translate(-20px);
    -o-atransform: translate(-20px);
    transform: translate(-25px, -15px);
}

/*ANIMATE KEYFRAMES-----------------------------------------------------------------------------------------*/

@-webkit-keyframes play {
   from { background-position:    0px; }
     to { background-position: -496px; }
}

@-moz-keyframes play {
   from { background-position:    0px; }
     to { background-position: -496px; }
}

@-ms-keyframes play {
   from { background-position:    0px; }
     to { background-position: -496px; }
}

@-o-keyframes play {
   from { background-position:    0px; }
     to { background-position: -496px; }
}

@keyframes play {
   from { background-position:    0px; }
     to { background-position: -496px; }
}


/*ANIMATE CONTAINERS-----------------------------------------------------------------------------------------*/

@-webkit-keyframes moveXE {
    0%   {transform: translateX(-200px);}
    100% {transform: translateX(850px);}
}

@-moz-keyframes moveXE {
    0%   {transform: translateX(-200px);}
    100% {transform: translateX(850px);}
}

@-ms-keyframes moveXE {
    0%   {transform: translateX(-200px);}
    100% {transform: translateX(200px);}
}

@-o-keyframes moveXE {
    0%   {transform: translateX(-200px);}
    100% {transform: translateX(200px);}
}

@keyframes moveXE {
    0%   {transform: translateX(-200px);}
    100% {transform: translateX(850px);}
}


/*--------------------------------------------------------------------*/

@-webkit-keyframes moveXW {
    0%   {transform: translateX(300px);}
    100% {transform: translateX(850px);}
}

@-moz-keyframes moveXW {
    0%   {transform: translateX(300px);}
    100% {transform: translateX(300px);}
}

@-ms-keyframes moveXW {
    0%   {transform: translateX(300px);}
    100% {transform: translateX(300px);}
}

@-o-keyframes moveXW {
    0%   {transform: translateX(300px);}
    100% {transform: translateX(850px);}
}

@keyframes moveXW {
    0%   {transform: translateX(300px);}
    100% {transform: translateX(850px);}
}

/*---------------------------------------------------------------*/


@-webkit-keyframes moveYN {
     0%   {transform: translateY(-200px);}
    100% {transform: translateY(1100px);}
}

@-moz-keyframes moveYN {
     0%   {transform: translateY(-200px);}
    100% {transform: translateY(1100px);}
}

@-ms-keyframes moveYN {
     0%   {transform: translateY(-200px);}
    100% {transform: translateY(1100px);}
}

@-o-keyframes moveYN {
     0%   {transform: translateY(-200px);}
    100% {transform: translateY(1100px);}
}

@keyframes moveYN {
    0%   {transform: translateY(-200px);}
    100% {transform: translateY(1100px);}
}

/*MOVE SOUTH-----------------------------------------------------------------------------------------*/

@-webkit-keyframes moveYS {
     0%   {transform: translateY(-10px);}
    100% {transform: translateY(1200px);}
}

@-moz-keyframes moveYS {
     0%   {transform: translateY(-10px);}
    100% {transform: translateY(1200px);}
}

@-ms-keyframes moveYS {
     0%   {transform: translateY(-10px);}
    100% {transform: translateY(1200px);}
}


@-o-keyframes moveYS {
     0%   {transform: translateY(-10px);}
    100% {transform: translateY(1200px);}
}

@keyframes moveYS {
    0%   {transform: translateY(-10px);}
    100% {transform: translateY(1200px);}
}




/*PRONTERA MOBILE VERSION-----------------------------------------------------------------------------------------*/
@media (max-width: 575.98px) { 
    .prontera-bg {
        /*height: 2000px;*/
        background: url(../img/backgrounds/prontera_bg_sm.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
    
    .prontera-gate-s {
        cursor: default;
        background: url(../img/structures/prontera_gate_s_sm.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 200px;
}
    
/*PAYON MOBILE VERSION-----------------------------------------------------------------------------------------*/
    
    .payon-bg {
        /*height: 2000px;*/
        background: url(../img/backgrounds/payon_bg_sm.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
    
/*MORROC MOBILE VERSION-----------------------------------------------------------------------------------------*/
    
    .morroc-bg {
        /*height: 2000px;*/
        background: url(../img/backgrounds/morroc_bg_sm.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
    
/*GEFFEN MOBILE VERSION-----------------------------------------------------------------------------------------*/
    
    .morroc-bg {
        /*height: 2000px;*/
        background: url(../img/backgrounds/morroc_bg_sm.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
    .payon-gate-s {
        cursor: not-allowed; 
        background: url(../img/structures/payon_gate_s_lg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 300px;

    }
        
    @-webkit-keyframes moveYN {
     0%   {transform: translateY(-500px);}
    100% {transform: translateY(700px);}
    }

    @-moz-keyframes moveYN {
         0%   {transform: translateY(-500px);}
        100% {transform: translateY(700px);}
    }

    @-ms-keyframes moveYN {
         0%   {transform: translateY(-500px);}
        100% {transform: translateY(700px);}
    }

    @-o-keyframes moveYN {
         0%   {transform: translateY(-500px);}
        100% {transform: translateY(700px);}
    }

    @keyframes moveYN {
        0%   {transform: translateY(-500px);}
        100% {transform: translateY(700px);}
    }
    
    /*-----------------------------------------------*/
    
    @-webkit-keyframes moveYS {
         0%   {transform: translateY(-300px);}
        100% {transform: translateY(700px);}
    }

    @-moz-keyframes moveYS {
         0%   {transform: translateY(-300px);}
        100% {transform: translateY(700px);}
    }

    @-ms-keyframes moveYS {
         0%   {transform: translateY(-300px);}
        100% {transform: translateY(700px);}
    }


    @-o-keyframes moveYS {
         0%   {transform: translateY(-300px);}
        100% {transform: translateY(700px);}
    }

    @keyframes moveYS {
        0%   {transform: translateY(-300px);}
        100% {transform: translateY(700px);}
    }
}