body, html {
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
    }

.map-bg {
    background-image: url("../img/bg_prontera.jpg");
    min-height: 4000px;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    z-index: -1;
    }

.character-container {
    background-color: #FF4136;
    width: 50px;
    height: 50px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}